* {
    margin: 0;
    padding: 0;
}
header {
    background-color: aqua;
    text-align: center;
}
footer {
    background-color: blueviolet;
    text-align: center;
}
.main {
    background-color: darkgray;
    text-align: center;
}
.container {
    width: 90%;
    max-width: 1024px;
    padding: 15px;
    margin: 0 auto;
    background-color: coral;
}
.container:after {
    content: "";
    display: table;
    clear: both;
}
.logo {
    float: left;
    text-decoration: none;
    padding-top: 15px;
}
nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
}
nav a {
    text-decoration: none;
    line-height: 50px;
}
.container div {
    float: left;
    margin: 0;
    height: 100px;
    padding-top: 25px;
}
.col-1-2 {
    width: 50%;
}
.col-1-3 {
    width: 33.3333333333%;
    background-color: aqua;
}
.col-1-4 {
    width: 25%;
}
#first1-2 {
    background-color: chartreuse;
}
#second1-2 {
    background-color: aliceblue;
}
#third1-2 {
    background-color: burlywood;
}
#first1-4 {
    background-color: darkorange;
}
#second1-4 {
    background-color: darkolivegreen;
}
.col-2-3 {
    width: 66.6666666667%;
    background-color: burlywood;
}
.footer {
    background-color: unset;
}